.greeting-page {
    max-width: 1336px;
    margin: 0 auto;
    padding: 7rem 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    text-align: center;
    line-height: 1.5;
}

/* 큰 글씨 */
.greeting-large {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #000000;
}

/* 중간 글씨 */
.greeting-medium {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: #005f73;
}

/* 작은 글씨 여러 줄 */
.greeting-small-text p, .greeting-footer-text {
    font-size: 1.05rem;
    margin: 0.3rem 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    color: #555;
}

.greeting-footer-text {
    margin-top: 4rem;
}

.marquee-content {
    display: flex;
    gap: 2rem;
    animation: marquee 20s linear infinite;
}

.marquee-content img {
    width: 140px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    border-radius: 8px;

}

/* marquee 애니메이션 */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


/* 밑에 작은 글씨 + 대표이사 */
.greeting-sign {
    margin-top: 6rem;
    font-weight: 700;

    color: #000000;
}

.ceo-name {
    font-size: 1.8rem;
    padding: 0px 10px;
}

.greeting-slider {
    margin: 2rem 0;
}


.greeting-slider img {
    
    width: 100%;
    height: 400px; /* 고정 높이 설정 */
    object-fit: cover; /* 자르더라도 꽉 채우기 */
    border-radius: 5px;
}

/* 버튼 자체는 투명하게 (배경 없음) */
.slick-prev,
.slick-next {
    z-index: 2;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    box-shadow: none;
}

/* 화살표 아이콘만 검정색으로 */
.slick-prev:before,
.slick-next:before {
    font-size: 24px;
    color: black;
    opacity: 1;
}

/* 위치 조정 */
.slick-prev {
    left: -35px;
}

.slick-next {
    right: -35px;
}


